%div.rounded
  %p.nav
    = link_to "About me", page_articles.find {|article| article.title == 'About me'}
  %p.nav
    Blog
  %p.nav
    Resume
  %h1.nav
    Alexia McDonald
  %p.nav
    = link_to "GitHub", "https://github.com/alexiamcdonald", target: "_blank"
