You might have notice my site looks different!
%br
%br
That's because it's built in ruby now...
%br
%br
I'm trying to get it up and running looking pretty much the same as my old one so please be patient
