%header
%body
  .wrapper
    %header
      = partial 'partials/side_menu'
    %section
      %p
        %img{:alt => "workmen original", :src => "./images/workmen.gif"}
      %p
        %img{:alt => "Workmen pixelart", :src => "./images/pixelworkmen.gif"}
    %footer
      = partial 'partials/footer'
